////////////////////////////////////
///_menus.scss START
////////////////////////////////////

///////////////////////////////////
//UNIVERSAL MENU STYLES FOR CONGRUENCY////////////////

#cafe-banner, #day-banner, #evening-banner {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(33, 33, 33, 0.56);
    height: 25vh;
}


///////////////////////////////////
//CAFE MENU STYLES////////////////

#cafe-banner {
    background-image: url('assets/images/cafe-menu/cafe-cakes-banner-min.jpg');
}

@media (max-width:47.9375em) {
    #cafe-banner {
        height: 15vh;
    }
}

.cafe-menu-bg {
    background-repeat: no-repeat;
     background-position: right bottom;
    background-size: contain;
    // opacity: 0.5;
    background-image: url('assets/images/graphics/cafe-m-bg-graphic.svg');
    height: 38%;
}


//////////////////////////////////
//DAY MENU STYLES////////////////

#day-banner {
    background-image: url('assets/images/day-menu/burger-presentation-min.jpg');

}

@media (max-width:47.9375em) {
    #day-banner {
        height: 15vh;
    }
}


.day-menu-bg {
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    // opacity: 0.5;
    background-image: url('assets/images/graphics/cafe-m-bg-graphic.svg');
}


//////////////////////////////////////
//EVENING MENU STYLES////////////////

#evening-banner {
    background-image: url('assets/images/evening-menu/evening-wine-min.jpg');
}

@media (max-width:47.9375em) {
    #day-banner {
        height: 15vh;
    }
}

.evening-menu-bg {
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    // opacity: 0.5;
    background-image: url('assets/images/graphics/cafe-m-bg-graphic.svg');
}
