*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// Font sizes//
html {
  font-size: calc(0.5em + 2.5vmin);

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1em;
  }

  h3 {
    font-size: .9em;
  }

  h5 {
    font-size: .8em;
  }

  p {
    font-size: 7em;
  }
}