#home-bar {
    .mossco-bar-grid {
        border-bottom: 4px solid #60aaa9;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
}

#home-gallery {
    .mossco-gallery-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 125px 125px 125px;
        gap: 10px;
        grid-template-areas: "restaurant-start restaurant-start dish dish 2 lobby lobby" "restaurant-start restaurant-start bar bar lobby lobby" "restaurant 1 restaurant 2 bar bar lobby 1 lobby 2";
    }

    .gallery-item-1 {
        grid-area: 1 / 1 / 2 / 3;
    }

    .gallery-item-2 {
        grid-area: 2 / 1 / 3 / 3;
    }

    .gallery-item-3 {
        grid-area: 1 / 3 / 3 / 7;
    }

    .gallery-item-4 {
        grid-area: 3 / 1 / 5 / 5;
    }

    .gallery-item-5 {
        grid-area: 3 / 5 / 4 / 7;
    }

    .gallery-item-6 {
        grid-area: 4 / 5 / 5 / 7;
    }

    .gallery-item-7 {
        grid-area: 5 / 1 / 6 / 3;
    }

    .gallery-item-8 {
        grid-area: 6 / 1 / 7 / 3;
    }

    .gallery-item-9 {
        grid-area: 5 / 3 / 7 / 7;
    }

    .gallery-item-1,
    .gallery-item-2,
    .gallery-item-3,
    .gallery-item-4,
    .gallery-item-5,
    .gallery-item-6,
    .gallery-item-7,
    .gallery-item-8,
    .gallery-item-9 {
        width: 100%;
        overflow: hidden;
        background: #000;

        img {
            opacity: 0.6;
            width: 100%;
            height: 100%;
            transform: scale(1.15);
            transition: transform 0.5s, opacity 0.5s;

            &:hover {
                opacity: 1;
                transform: scale(1.03);
            }
        }
    }
}

@media (min-width: 48em) {
    #home-gallery {
        .mossco-gallery-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 175px 175px 175px;
            gap: 10px;
            grid-template-areas: "restaurant-start restaurant-start dish dish 2 lobby lobby" "restaurant-start restaurant-start bar bar lobby lobby" "restaurant 1 restaurant 2 bar bar lobby 1 lobby 2";
        }

        .gallery-item-1 {
            grid-area: 1 / 1 / 3 / 3;
        }

        .gallery-item-2 {
            grid-area: 1 / 3 / 2 / 4;
        }

        .gallery-item-3 {
            grid-area: 1 / 4 / 2 / 5;
        }

        .gallery-item-4 {
            grid-area: 1 / 5 / 3 / 7;
        }

        .gallery-item-5 {
            grid-area: 2 / 3 / 4 / 5;
        }

        .gallery-item-6 {
            grid-area: 3 / 1 / 4 / 2;
        }

        .gallery-item-7 {
            grid-area: 3 / 2 / 4 / 3;
        }

        .gallery-item-8 {
            grid-area: 3 / 5 / 4 / 6;
        }

        .gallery-item-9 {
            grid-area: 3 / 6 / 4 / 7;
        }
    }
}

@media (max-width: 48em) {
    .mossco-gallery-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 150px 150px 150px;
        gap: 10px;
        grid-template-areas: "restaurant-start restaurant-start dish dish 2 lobby lobby" "restaurant-start restaurant-start bar bar lobby lobby" "restaurant 1 restaurant 2 bar bar lobby 1 lobby 2";
    }
}

@media (max-width: 40em) {
    #home-gallery {
        .mossco-gallery-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 100px 100px 100px 100px 100px 100px;
            gap: 10px;
            grid-template-areas: 'restaurant-start restaurant-start dish dish 2 lobby' 'restaurant-start restaurant-start bar bar lobby lobby' 'restaurant 1 restaurant 2 bar bar' '. . . . . .' '. . . . . .' '. . . . . .';
        }
    }
}

#home-map {
    .col-span-1 {
        background-image: url("assets/images/graphics/contact-art-graphic.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

#home-map {
    .left-grid-graphic {
    }
}

.left-grid-graphic {
    background-image: url("assets/images/graphics/contact-art-graphic.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 0.8;
}
