/* D Nic of Tifco Hotel Group 2022 - 2023 */
@font-face {
    font-family: 'bauhaus_lightregular';
    src: url('../fonts/bauhauslightregular-webfont.woff2') format('woff2'),
         url('../fonts/bauhauslightregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}