/*! D Nic of TIFCO GROUP */


@font-face {
    font-family: 'Bauhaus';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bauhaus_light-webfont.woff2') format('woff2'),
         url('../fonts/bauhaus_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bauhaus';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/bauhaus_demi-webfont.woff2') format('woff2'),
         url('../fonts/bauhaus_demi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Bauhaus';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/bauhaus_medium-webfont.woff2') format('woff2'),
         url('../fonts/bauhaus_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}