.hero-poster {
    /* background-color: rgba(33,33,33,0.56); */
    height: 85vh;
}

.hero-poster:before {
    background-image: url('../images/hero/bean-sasta-1920px-min.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(33, 33, 33, 0.56);
    content: ' ';
    top: 0;
    left: 0;
    width: 100%;
    height: 85vh;
    z-index: -1;
    position: absolute;
}

body.poster:before {
    position: fixed;
}

.hero-heading {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

@media (min-width:48em) and (max-width:63.9375em) {
    .hero-poster,
    .hero-poster:before {
        height: 55vh;
    }

    .hero-heading {
        top: 60%;
    }
}

@media (max-width:47.9375em) {
    .hero-poster {
        /* background-color: rgba(33,33,33,0.56); */
        height: 65vh;
    }

    .hero-poster:before {
        background-image: url('../images/hero/bean-sasta-850px-min.jpg');
        box-shadow: inset 0 0 0 2000px rgba(255, 0, 150, 0.3);
        background-position: center top;
        height: 65vh;
    }

    .hero-heading {
        top: 60%;
    }
}

.our-brand-img-grid {
}

.mossco-bar-grid {
}

.false-header {
}

.mossco-header {
}

.cafe-menu-img {
    background: linear-gradient(0deg, rgba(33, 33, 33, 0.7), rgba(63, 63, 68, 0.7)), url(../images/home/menus/cafe-menu-box-v2-min.jpg);
    background-blend-mode: multiply;
    border-radius: 0.125rem;
    background-size: cover;
}

.day-menu-img {
    background: linear-gradient(0deg, rgba(6, 12, 12, 0.7), rgba(63, 63, 68, 0.7)), url('../images/home/menus/day-menu-box-v2-min.jpg');
    background-blend-mode: multiply;

    /* border-radius: 0.125rem */
    background-size: cover;
}

.evening-menu-img {
    background: linear-gradient(0deg, rgba(33, 33, 33, 0.7), rgba(63, 63, 68, 0.7)), url('../images/home/menus/evening-menu-box-v2-min.jpg');
    background-blend-mode: multiply;
    border-radius: 0.125rem;
    background-size: cover;
}

@media (min-width:64em) {
    #home-newsletter {
        background-image: url('/assets/images/graphics/seaweed-graphic.svg');
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 150px;
        width: 150px;
    }

    .footer-bg {
        background-image: url('../images/graphics/3-trees-graphic.svg');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 200px;
    }
}

@media (min-width:48em) {
    .newsletter-bg {
        background-image: url('../images/graphics/seaweed-graphic-f.svg');
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: contain;
        opacity: 0.8;
    }
}

our-brand-bg {
}

.our-brand-bg {
    background-image: url('../images/graphics/camel-graphic-fop.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

@media (min-width:48em) {
    .menus-bg {
        background-image: url('../images/graphics/edge-splat-graphic-f.svg');
        background-repeat: no-repeat;
        background-position: left top;
    }
}

@media (max-width:39.9375em) {
    .maps-bg {
    }
}



